.orbitCenter {
  position: absolute;
  top: 40%;
}

.shadowrunContainer {
  position: absolute;
  background-color: rgb(59, 52, 57);
  width: 40vh;
  height: 25vh;
  left: 50vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
  transform-origin: 40vw;
}

.shadowrunContainer.expanded {
  animation: expandContainer 0.8s ease-in-out forwards;
  top: 0;
  opacity: 1;
}
.shadowrunContainer.shrink {
  animation: shrinkContainer 0.8s ease-in-out forwards;
  top: 0;
  opacity: 1;
}

@keyframes expandContainer {
  0% {
    width: 40vh;
    height: 25vh;

    left: 40vw;
  }
  100% {
    position: absolute;
    width: 110vw;
    height: 30vh;
    left: -1vw;
    top: -42vh;
  }
}

@keyframes shrinkContainer {
  0% {
    position: absolute;
    width: 110vw;
    height: 30vh;
    left: -1vw;
    top: -42vh;
  }
  100% {
    width: 40vh;
    height: 25vh;

    left: 40vw;
  }
}

.shadowrunButton {
  border-radius: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadowrun {
  position: absolute;
  left: 10;
  width: auto;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

.shadowrunContainer.expanded .shadowrun {
  transform: translateX(-50%);
  left: 10%;
}

.shadowrunContainer.dimmed {
  opacity: 0.5;
}

@keyframes orbitPosition0up {
  0% {
    transform: rotate(0.93turn) translateX(-10vw);
  }
  100% {
    transform: rotate(1turn) translateX(-10vw);
  }
}

@keyframes orbitPosition1up {
  0% {
    transform: rotate(0turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.07turn) translateX(-10vw);
  }
}

@keyframes orbitPosition2up {
  0% {
    transform: rotate(0.07turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.4turn) translateX(-10vw);
  }
}

@keyframes orbitPosition3up {
  0% {
    transform: rotate(0.4turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.6turn) translateX(-10vw);
  }
}

@keyframes orbitPosition4up {
  0% {
    transform: rotate(0.6turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.93turn) translateX(-10vw);
  }
}

@keyframes orbitPosition4down {
  0% {
    transform: rotate(1turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.93turn) translateX(-10vw);
  }
}

@keyframes orbitPosition0down {
  0% {
    transform: rotate(0.07turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0turn) translateX(-10vw);
  }
}

@keyframes orbitPosition1down {
  0% {
    transform: rotate(0.4turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.07turn) translateX(-10vw);
  }
}

@keyframes orbitPosition2down {
  0% {
    transform: rotate(0.6turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.4turn) translateX(-10vw);
  }
}

@keyframes orbitPosition3down {
  0% {
    transform: rotate(0.93turn) translateX(-10vw);
  }
  100% {
    transform: rotate(0.6turn) translateX(-10vw);
  }
}

.position0up {
  animation: orbitPosition0up 0.8s ease-in-out forwards;
}

.position1up {
  animation: orbitPosition1up 0.8s ease-in-out forwards;
}

.position2up {
  animation: orbitPosition2up 0.8s ease-in-out forwards;
}

.position3up {
  animation: orbitPosition3up 0.8s ease-in-out forwards;
}

.position4up {
  animation: orbitPosition4up 0.8s ease-in-out forwards;
}

.position0down {
  animation: orbitPosition0down 0.8s ease-in-out forwards;
}

.position1down {
  animation: orbitPosition1down 0.8s ease-in-out forwards;
}

.position2down {
  animation: orbitPosition2down 0.8s ease-in-out forwards;
}

.position3down {
  animation: orbitPosition3down 0.8s ease-in-out forwards;
}

.position4down {
  animation: orbitPosition4down 0.8s ease-in-out forwards;
}
